body{
	font-family: "Cambria", sans-serif;
	font-size: 20px;
}

.navbar{
	padding: 0px;
	background-color: white;
}


.navbar-light .navbar-nav .active>.nav-link{
	border-bottom: 2px solid #072050;
	color: #072050;
}

.navbar-light .navbar-nav .nav-link:hover{
	border-bottom: 2px solid #072050;
	color: #072050;
}
.company-logo {
	height: 3em;
}
.company-name {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

.nav-item .active{
	border-bottom: 2px solid #072050;
}

.salient-features-header {
	padding-top: 5%;
    text-align: center;
}

.salient-features-header > p{
	font-size: 16px;
}

.from-the-desk-header {
	padding-top: 5%;
    text-align: center;
}

.from-the-desk-header > p{
	font-size: 16px;
}

.carousel-inner img {
	width: auto;
	height: 500px;
	
}

.breadcrumb{
    background-color: #072050;
    display: inline;
    float: left;
    padding: 30px 0;
    width: 100%;
    margin: 0px;
}

.breadcrumb h2{
    text-align: center;
    color:#54EFE8;
	letter-spacing: 5px;
}

/* Director Section */

#director-content{
    display: inline;
    float: left;
    width: 100%;
}

.director-image-container {
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	height: 90%;
	padding-top: 8%;
}

.director-image {
    width: 100%;
    height: auto;
	transition: 0.5s all ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: antiquewhite;
}

/* .director-image-container:hover .director-image { 
	transform: scale(1.5); 
}  */

.director-name {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 100%;
	padding: 4px;
	padding-left: 5%;
	text-align: left;
}
  
.director-statement > h2{
	font-size: 30px;
	text-align: justify;
	color: #072050;
	font-weight: bold;
}
.director-statement {
	font-size: 16px;
	text-align: justify;
	color: #072050;
}




/* Vision-Mission-Value Section */
.vision-mission{
	display: inline;
    float: left;
    /* padding: 100px 0; */
    width: 100%;
	background-color: white;
}

.vmv-container {
	background-color: coral;
	float: bottom;
}

.vision-mission-row{
	padding: 4%;
}

.vision-container, .mission-container, .value-container {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(#ffffff,#f0fffe);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: brown;
}

.vision-logo-container, .mission-logo-container, .value-logo-container {
    padding: 3%;
    background-color: #072050;
    text-align: center;
}
.vision-statement-container > h3, .mission-statement-container > h3, .value-statement-container > h3{
	text-align: center;
	font-weight: bold;
	color: #072050;
}
.vision-statement-container, .mission-statement-container, .value-statement-container {
	text-align: justify;
	font-size: 16px;
	padding: 5%;
	color: #072050;
}

/* Color of logo: #54EFE8 */
.vision-logo, .mission-logo, .value-logo {
    /* height: 10%; */
	width: 16%;
}

.vision-statement, .mission-statement, .value-statement {
	padding-top: 10%;
}





.highlight-1-content, .highlight-2-content, .highlight-3-content {
	background-color:azure;
	height: 200px;
	border: 1px solid black;
	padding: 20%;
}
.aboutus-1, .aboutus-2 {
	background-color: blanchedalmond;
	height: 500px;
	border: 1px solid black;
	padding: 20%;
}
.salient-features-header {
	text-align: center;
}
.feature {
	height: 200px;
	margin: 5%;
	padding: 10%;
	border: 1px solid black;
}

.features-title-container {
	background-color: #f4eeff;
}

.scrollToTop {
	border-radius: 4px;
	bottom: 60px;
	background-color: #072050;
	color: #fff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	height: 50px;
	font-family: "Montserrat", sans-serif;
	padding: 5px 0;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.scrollToTop i {
	display: block;
}

.scrollToTop span {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
  
.scrollToTop:hover {
	color: white;
	background-color:#072050;
}

#myFooter{
	display: inline;
	float: left;
	width: 100%;
}

#myFooter .myFooter-top {
    background-color: #333;
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}

#myFooter .myFooter-top .myFooter-top-area {
	display: inline;
	float: left;
	width: 100%;
	color: #fff;
}

#myFooter .myFooter-top .myFooter-top-area h4{
	color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

#myFooter .myFooter-bottom {
	background-color: #222;
	display: inline;
	float: left;
	padding: 25px 0;
	width: 100%;
	font-size: px;
}

#myFooter .myFooter-bottom .myFooter-bottom-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

#myFooter .myFooter-bottom .myFooter-bottom-area p {
	color: #fff;
	margin-bottom: 0;
	letter-spacing: 0.3px;
}

#myFooter .myFooter-bottom .myFooter-bottom-area p a {
	color: #fff;
} 
.from-the-desk-header {
	text-align: center;
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

	.company-logo{
		height: 2em;
	}

	.company-name{
		font-size: 14px;
	}

	.navbar-brand{
		margin: 0px;
	}

	.col-sm-6{
		text-align: center;
		font-size: 18px;
	}


	#director-content {
		display: inline;
		float: left;
		/* padding: 50px 0; */
		width: 100%;
	}

    .director-image-container {
        overflow: hidden;
        margin: 0 auto;
        height: auto;
    }

    .director-image {
        width: 100%;
        height: auto;
        transition: 0.5s all ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

	.navbar-light .navbar-nav .nav-item .nav-link{
		padding-left: 5%;
	}

}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	.company-name{
		font-size: 16px;
	}

	.navbar-brand{
		margin: 0px;
	}

	#contact-content {
		display: inline;
		float: left;
		padding: 50px 0;
		width: 100%;
	}

	.contact-title p {
		color: #555;
		letter-spacing: 0.3px;
		line-height: 1.7;
		font-size: 16px;
	}

    .director-image-container {
        overflow: hidden;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }

    .director-image {
        width: 100%;
        height: auto;
        transition: 0.5s all ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

	.vision-container, .mission-container, .value-container {
		height: 100%;
		width: 80%;
		margin-left: 10%;
		background-image: linear-gradient(#ffffff,#f0fffe);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.company-name{
		font-size: 16px;
	}

	.navbar-brand{
		margin: 0px;
	}

    .director-image-container {
        overflow: hidden;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }

    .director-image {
        width: 100%;
        height: auto;
        transition: 0.5s all ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

	.vision-container, .mission-container, .value-container {
		height: 100%;
		width: 80%;
		margin-left: 10%;
		background-image: linear-gradient(#ffffff,#f0fffe);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.company-name{
		font-size: 22px;
	}

	.navbar-brand{
		margin: 0px;
	}
    .col-lg-4{
        max-width: 100%;
    }
    .director-image-container {
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
		height: 67%;
    }

    .director-image {
        width: 100%;
        height: 100%;
        transition: 0.5s all ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

	.director-name {
		position: absolute;
		bottom: 0;
		background: rgb(0, 0, 0); /* Fallback color */
		background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
		color: #f1f1f1;
		width: 100%;
		padding: 4px;
		padding-left: 5%;
		text-align: left;
	}

	.vision-mission-row{
		padding: 0px;
	}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	.company-name{
		font-size: 22px;
	}

	.navbar-brand{
		margin: 0px;
	}
}