/* body{
	font-family: "Roboto", sans-serif;
} */
.company-logo {
	height: 50px;
}
.company-name {

}

.breadcrumb{
    background-color: #f4eeff;
    display: inline;
    float: left;
    padding: 30px 0;
    width: 100%;
    margin: 0px;
}

.breadcrumb h2{
    text-align: center;
    color: black;
}

#contact-content{
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
}

.contact-title{
    display: inline;
    float: left;
    text-align: center;
    width: 100%;
}

.contact-title h2{
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contact-title p{
    color: #555;
    letter-spacing: 0.3px;
    line-height: 1.7;
    /* padding: 0 120px; */
}

.contact-form{
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
}

.contact-form-left{
    display: inline;
    float: left;
    width: 100%;
}

.contact-map-right{
    display: inline;
    float: left;
    width: 100%;
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:100%;
}

.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;
}

.scrollToTop {
	border-radius: 4px;
	bottom: 60px;
	background-color: blue;
	color: #fff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	height: 50px;
	font-family: "Montserrat", sans-serif;
	padding: 5px 0;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.scrollToTop i {
	display: block;
}

.scrollToTop span {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
  
.scrollToTop:hover {
	color: white;
	background-color: blue;
}

#myFooter{
	display: inline;
	float: left;
	width: 100%;
}

#myFooter .myFooter-top {
    background-color: #333;
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}

#myFooter .myFooter-top .myFooter-top-area {
	display: inline;
	float: left;
	width: 100%;
	color: #fff;
}

#myFooter .myFooter-top .myFooter-top-area h4{
	color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

#myFooter .myFooter-bottom {
	background-color: #222;
	display: inline;
	float: left;
	padding: 25px 0;
	width: 100%;
	font-size: px;
}

#myFooter .myFooter-bottom .myFooter-bottom-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

#myFooter .myFooter-bottom .myFooter-bottom-area p {
	color: #fff;
	margin-bottom: 0;
	letter-spacing: 0.3px;
}

#myFooter .myFooter-bottom .myFooter-bottom-area p a {
	color: #fff;
} 
