.company-logo {
	height: 50px;
}
.company-name {
	
}

.carousel-inner img {
	width: auto;
	height: 500px;
	
}
.highlights-container {
	
	
}
.highlight-1-content, .highlight-2-content, .highlight-3-content {
	background-color:azure;
	height: 200px;
	border: 1px solid black;
	padding: 20%;
}
.aboutus-1, .aboutus-2 {
	background-color: blanchedalmond;
	height: 500px;
	border: 1px solid black;
	padding: 20%;
}
.features-title {
	text-align: center;
}
.feature {
	height: 200px;
	margin: 5%;
	padding: 10%;
	border: 1px solid black;
}