.company-logo {
	height: 50px;
}
.company-name {
	
}

.carousel-inner img {
	width: auto;
	height: 500px;
	
}
.highlights-container {
	
	
}
.highlight-1-content, .highlight-2-content, .highlight-3-content {
	background-color:azure;
	height: 200px;
	border: 1px solid black;
	padding: 20%;
}
.aboutus-1, .aboutus-2 {
	background-color: blanchedalmond;
	height: 500px;
	border: 1px solid black;
	padding: 20%;
}
.features-title {
	text-align: center;
}
.feature {
	height: 200px;
	margin: 5%;
	padding: 10%;
	border: 1px solid black;
}

.scrollToTop {
	border-radius: 4px;
	bottom: 60px;
	background-color: blue;
	color: #fff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	height: 50px;
	font-family: "Montserrat", sans-serif;
	padding: 5px 0;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.scrollToTop i {
	display: block;
}

.scrollToTop span {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
  
.scrollToTop:hover {
	color: white;
	background-color: blue;
}