body{
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

.navbar{
	padding: 0px;
	background-color: white;
}


.navbar-light .navbar-nav .active>.nav-link{
	border-bottom: 2px solid purple;
	color: #8f00ff;
}

.navbar-light .navbar-nav .nav-link:hover{
	border-bottom: 2px solid purple;
	color: #8f00ff;
}
.company-logo {
	height: 3em;
}
.company-name {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: bold;
}

.nav-item .active{
	border-bottom: 2px solid #8f00ff;
}

.salient-features-header {
	padding-top: 5%;
    text-align: center;
}

.salient-features-header > p{
	font-size: 16px;
}

.from-the-desk-header {
	padding-top: 5%;
    text-align: center;
}

.from-the-desk-header > p{
	font-size: 16px;
}

.carousel-inner img {
	width: auto;
	height: 500px;
	
}

.highlights-container {
	
	
}
.highlight-1-content, .highlight-2-content, .highlight-3-content {
	background-color:azure;
	height: 200px;
	border: 1px solid black;
	padding: 20%;
}
.aboutus-1, .aboutus-2 {
	background-color: blanchedalmond;
	height: 500px;
	border: 1px solid black;
	padding: 20%;
}
.salient-features-header {
	text-align: center;
}
.feature {
	height: 200px;
	margin: 5%;
	padding: 10%;
	border: 1px solid black;
}

.features-title-container {
	background-color: #f4eeff;
}

.scrollToTop {
	border-radius: 4px;
	bottom: 60px;
	background-color: #8f00ff;;
	color: #fff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	height: 50px;
	font-family: "Montserrat", sans-serif;
	padding: 5px 0;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.scrollToTop i {
	display: block;
}

.scrollToTop span {
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
  
.scrollToTop:hover {
	color: white;
	background-color: #8f00ff;;
}

#myFooter{
	display: inline;
	float: left;
	width: 100%;
}

#myFooter .myFooter-top {
    background-color: #333;
    display: inline;
    float: left;
    padding: 50px 0;
    width: 100%;
}

#myFooter .myFooter-top .myFooter-top-area {
	display: inline;
	float: left;
	width: 100%;
	color: #fff;
}

#myFooter .myFooter-top .myFooter-top-area h4{
	color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

#myFooter .myFooter-bottom {
	background-color: #222;
	display: inline;
	float: left;
	padding: 25px 0;
	width: 100%;
	font-size: px;
}

#myFooter .myFooter-bottom .myFooter-bottom-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

#myFooter .myFooter-bottom .myFooter-bottom-area p {
	color: #fff;
	margin-bottom: 0;
	letter-spacing: 0.3px;
}

#myFooter .myFooter-bottom .myFooter-bottom-area p a {
	color: #fff;
} 
.from-the-desk-header {
	text-align: center;
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

	.company-logo{
		height: 2em;
	}

	.company-name{
		font-size: 14px;
	}

	.navbar-brand{
		margin: 0px;
	}

	.salient-features-header {
		font-size: 14px;
	}

	.salient-features-header > p{
		font-size: 15px;
	}

	.from-the-desk-header > p{
		font-size: 15px;
	}

	.card-body{
		text-align: center;
	}

	.col-sm-6{
		text-align: center;
	}
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	.company-name{
		font-size: 16px;
	}

	.navbar-brand{
		margin: 0px;
	}

	.card-body{
		text-align: center;
	}

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.company-name{
		font-size: 16px;
	}

	.navbar-brand{
		margin: 0px;
	}
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.company-name{
		font-size: 22px;
	}

	.navbar-brand{
		margin: 0px;
	}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	.company-name{
		font-size: 22px;
	}

	.navbar-brand{
		margin: 0px;
	}
}